$border-lines: 4px solid #26a69a;
$max-width: 100%;

$main-color: #004d40;
$main-color-2: #00897b;
$main-color-3: #26a69a;

body {
    background-image: url('../images/bg.jpg'); //no-repeat center center fixed; 
    //background: url(images/bg.jpg) no-repeat center center fixed; 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
    //background-size: cover;
    background-color: #555;
    background-blend-mode: screen;
}

.row {
    margin-bottom: 0;
}

.col {
    padding: 0;
}

.row .col {
    padding: 0;
    margin: 0;
}

.col .row {
    margin: 0;
    padding: 0;
}

.w-100 {
    width: 100%;
}

.lpad-10 {
    padding-left: 10px;
}

.rpad-10 {
    padding-right: 10px;
}

.carousel.images-row-2 {
    

    & * {
        margin: 0 !important;
        padding: 0 !important;
    }

    a {
        img {
            width: 100%;
        }
    }
}

ul {

    &.tabs.vertical {
        flex-direction: column;
        height: 100%;
        float: left;

        border-top: 9px solid $main-color-2;
        border-bottom: 9px solid $main-color-2;

        li {
            width: 100% !important;
            //background-color: #26a69a;
            
            a {
                color: #555;

                &:hover {
                    color: #999;
                }
            }

            .active {
                color: white;
                background-color:#26a69a !important;
            }
        }

        .indicator {
            display: none;
        }
    }

    &.collapsible {
        margin: 0;
    }
}

.container {
    background-color: rgba(0, 137, 123, 0.4);
}

.auto-margin {
    margin: auto;
}

$nav-height: 48px;

.global-nav {

    height: $nav-height;
    line-height: $nav-height;

    ul {

        width: $max-width;

        li {
            text-align: center;
            //width: $max-width/6;
            
            a {
                font-weight: 600;
                font-size: 1.1rem;
                text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
            }

            &.right {
                //box-sizing: border-box;
                //border-left: 2px solid #004d40;
                //box-shadow: inset 1em 0em 2em -0.25em #004d40;
                //box-shadow: inset 0 0 0.5em #004d40;
            }
        }
    }

    #search {
        margin: 0;
    }

    .material-icons {
        line-height: $nav-height;
        height: $nav-height;
    }
}

$logo-margin: 10px;
$logo-margin-left: 16px;

.logo {
    padding-top: 28px;
    color: white;
    font-weight: bold;
    margin: 0;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

.img-logo {
    padding-top: 12px;
    width: 82px;
}

.section-header {

    color: white;
    font-weight: bold;
    margin: 0;
    text-shadow: 0px 2px 3px rgba(0,0,0,0.4),
                 0px 4px 6px rgba(0,0,0,0.1),
                 0px 9px 11px rgba(0,0,0,0.1);
}

article {
    padding: 20px 5% !important;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #444;
    text-indent: 16px;

    span {
        color: #00897b;
        font-style: italic;
    }
}


.fixed-local-nav {

    position: fixed;
    top: 0;
    z-index: 10;

    &.container {
        background: none;
    }
}

.fixed-local-nav, .local-nav {
    a.active {
        background-color: rgba(0,0,0,0.1);
    }
}

#nav-mobile {

}

.sidebar {

    a {
        width: 70%;
        margin-left: 15%;
        border-radius: 0;
        background-color: #009688;
    }

    margin-bottom: 20px;
}

.sales {

    padding: 5%;

    h5 {
        font-size: 2rem;
    }
}

nav {
    background-color: #4db6ac;
    ul a {
        font-size: 1.4rem;
    }
}

nav .brand-logo {
    padding-left: 24px;
}

h5 {
    color: white;
    line-height: 64px;
    height: 64px;
    padding: 0;
    margin: 0;
    //font-size: 1.6rem;
    //background-color: rgb(38, 166, 154, 0.6);
}

.p-10 {
    padding: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.top-image {
    margin-bottom: -5px;
}

.v-borders {
    border-right: $border-lines;
    border-left: $border-lines;
}


.aside {

    .col {

        padding: 0;

        &:first-child {
            padding-right: 10px;
        }

        h5 {
            // color: white;
            font-weight: 600;
            margin: 0;
            // text-shadow: 2px 2px 0px rgba(0,0,0,0.4);
            padding-bottom: 10px;
        }

        a + h5 {
            margin-top: 25px;
        }

        a {
            &.btn {
                border-radius: 0;
                width: 100%;
            }
        }

        .collection {
            margin: 0;
            border: 4px solid #26a69a;
        }
    }
}

.slider {
    .slides {
        li {
            .caption {
                top:60%;
                left: 10%;
                width: 80%;
            }
        }
    }

    .indicators {
        .indicator-item {
            &.active {
                background-color: #00897b;
            }
        }
    }
}

#map {
    position: relative;
    height: 400px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    & > div {
        padding-top: 20px;
        padding-left: 20px;
        position: absolute;
        z-index: 1;
        background-color:rgba(255,255,255,0.95);
        right: 0;
        height: 100%;
        width: 33.3333%;

        div {

            margin: 0;
            padding: 0;

            &:last-child {
                margin-bottom: 15px;
            }

            p {
                padding: 0;
                font-size: 1.2rem;
            }
        }

        p {
            margin: 0;
        }
    }
}

.contact-info {
    //padding: 16px;
    p { 
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: 0;
        font-size: 1.1rem;
        color: black;
    }
}

.contact-numbers {
    li, span {
        font-size: 1.1rem;
    }

    & ~ p {
        font-size: 1.0rem;
    }

}

header {

    h1 {
        padding: 16px;
    }

    div {
        padding: 16px;
    }
}

section.row {

    h4 {
        padding: 10px 0 20px 0;
        font-weight: normal;
        font-family: -apple-system,BlinkMacSystemFont,
                    "Segoe UI",
                    Roboto,
                    Oxygen-Sans,
                    Ubuntu,
                    Cantarell,
                    "Helvetica Neue",
                    sans-serif;
    }

    & > div {

        &.col.s12 {
            padding-left: 0;
            padding-right: 0;
        }

        &.col {
            padding-left: 0;
            padding-right: 0;
        }
    }
    margin-bottom: 0;
}

i.material-icons {
    color: $main-color-3;
    transform: translateY(6px);
}

.tabs .tab a {
    color: $main-color-3;
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: $main-color;
}

.tabs .tab a:focus, .tabs .tab a:focus.active, .tabs .tab a.active {
    background-color: rgba(38, 166, 154, 0.2);
    outline: none;
}

.tabs .indicator {
    color: $main-color-3;
    background-color: $main-color-3;
}