body {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: center;
  background-color: #555;
  background-blend-mode: screen;
}

.row {
  margin-bottom: 0;
}

.col {
  padding: 0;
}

.row .col {
  padding: 0;
  margin: 0;
}

.col .row {
  margin: 0;
  padding: 0;
}

.w-100 {
  width: 100%;
}

.lpad-10 {
  padding-left: 10px;
}

.rpad-10 {
  padding-right: 10px;
}

.carousel.images-row-2 * {
  margin: 0 !important;
  padding: 0 !important;
}

.carousel.images-row-2 a img {
  width: 100%;
}

ul.tabs.vertical {
  flex-direction: column;
  height: 100%;
  float: left;
  border-top: 9px solid #00897b;
  border-bottom: 9px solid #00897b;
}

ul.tabs.vertical li {
  width: 100% !important;
}

ul.tabs.vertical li a {
  color: #555;
}

ul.tabs.vertical li a:hover {
  color: #999;
}

ul.tabs.vertical li .active {
  color: white;
  background-color: #26a69a !important;
}

ul.tabs.vertical .indicator {
  display: none;
}

ul.collapsible {
  margin: 0;
}

.container {
  background-color: rgba(0, 137, 123, 0.4);
}

.auto-margin {
  margin: auto;
}

.global-nav {
  height: 48px;
  line-height: 48px;
}

.global-nav ul {
  width: 100%;
}

.global-nav ul li {
  text-align: center;
}

.global-nav ul li a {
  font-weight: 600;
  font-size: 1.1rem;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.global-nav #search {
  margin: 0;
}

.global-nav .material-icons {
  line-height: 48px;
  height: 48px;
}

.logo {
  padding-top: 28px;
  color: white;
  font-weight: bold;
  margin: 0;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.img-logo {
  padding-top: 12px;
  width: 82px;
}

.section-header {
  color: white;
  font-weight: bold;
  margin: 0;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4), 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 9px 11px rgba(0, 0, 0, 0.1);
}

article {
  padding: 20px 5% !important;
  background-color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  color: #444;
  text-indent: 16px;
}

article span {
  color: #00897b;
  font-style: italic;
}

.fixed-local-nav {
  position: fixed;
  top: 0;
  z-index: 10;
}

.fixed-local-nav.container {
  background: none;
}

.fixed-local-nav a.active, .local-nav a.active {
  background-color: rgba(0, 0, 0, 0.1);
}

.sidebar {
  margin-bottom: 20px;
}

.sidebar a {
  width: 70%;
  margin-left: 15%;
  border-radius: 0;
  background-color: #009688;
}

.sales {
  padding: 5%;
}

.sales h5 {
  font-size: 2rem;
}

nav {
  background-color: #4db6ac;
}

nav ul a {
  font-size: 1.4rem;
}

nav .brand-logo {
  padding-left: 24px;
}

h5 {
  color: white;
  line-height: 64px;
  height: 64px;
  padding: 0;
  margin: 0;
}

.p-10 {
  padding: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.top-image {
  margin-bottom: -5px;
}

.v-borders {
  border-right: 4px solid #26a69a;
  border-left: 4px solid #26a69a;
}

.aside .col {
  padding: 0;
}

.aside .col:first-child {
  padding-right: 10px;
}

.aside .col h5 {
  font-weight: 600;
  margin: 0;
  padding-bottom: 10px;
}

.aside .col a + h5 {
  margin-top: 25px;
}

.aside .col a.btn {
  border-radius: 0;
  width: 100%;
}

.aside .col .collection {
  margin: 0;
  border: 4px solid #26a69a;
}

.slider .slides li .caption {
  top: 60%;
  left: 10%;
  width: 80%;
}

.slider .indicators .indicator-item.active {
  background-color: #00897b;
}

#map {
  position: relative;
  height: 400px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#map > div {
  padding-top: 20px;
  padding-left: 20px;
  position: absolute;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.95);
  right: 0;
  height: 100%;
  width: 33.3333%;
}

#map > div div {
  margin: 0;
  padding: 0;
}

#map > div div:last-child {
  margin-bottom: 15px;
}

#map > div div p {
  padding: 0;
  font-size: 1.2rem;
}

#map > div p {
  margin: 0;
}

.contact-info p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  font-size: 1.1rem;
  color: black;
}

.contact-numbers li, .contact-numbers span {
  font-size: 1.1rem;
}

.contact-numbers ~ p {
  font-size: 1.0rem;
}

header h1 {
  padding: 16px;
}

header div {
  padding: 16px;
}

section.row {
  margin-bottom: 0;
}

section.row h4 {
  padding: 10px 0 20px 0;
  font-weight: normal;
  font-family: -apple-system,BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

section.row > div.col.s12 {
  padding-left: 0;
  padding-right: 0;
}

section.row > div.col {
  padding-left: 0;
  padding-right: 0;
}

i.material-icons {
  color: #26a69a;
  transform: translateY(6px);
}

.tabs .tab a {
  color: #26a69a;
}

.tabs .tab a:hover, .tabs .tab a.active {
  color: #004d40;
}

.tabs .tab a:focus, .tabs .tab a:focus.active, .tabs .tab a.active {
  background-color: rgba(38, 166, 154, 0.2);
  outline: none;
}

.tabs .indicator {
  color: #26a69a;
  background-color: #26a69a;
}
/*# sourceMappingURL=style.css.map */